*{
    margin: 0;
    padding: 0;
}

.stats{
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    float: left;
}